/* Estilos base */
body {
    font-family: var(--font-main);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

